@font-face
  font-source('ArialNarrow')
  
.ArialNarrow
  font-family 'ArialNarrow'
  font-weight normal
  
@font-face
  font-source('ArialNarrowBold')
  
.ArialNarrowBold
  font-family 'ArialNarrowBold'
  font-weight normal

@font-face
  font-source('HelveticaNeueBd')
  
.HelveticaNeueBd
  font-family 'HelveticaNeueBd'
  font-weight normal

@font-face
  font-source('MontserratBold')
  
.MontserratBold
  font-family 'MontserratBold'
  font-weight normal