.icon-svg
  img
    diplay block
    
.arrow-open-or-close
  background-image url('../images/design/icons/arrow-icon-accordion-top@2x.png')
  background-position 0 0
  background-repeat no-repeat
  background-size contain
  height 14px
  position absolute
  right 30px
  top 50%
  transform translateY(-50%)
  width 23px
  &.active
    background-image url('../images/design/icons/arrow-icon-accordion-bottom@2x.png')
    

.calendar-icon
  background-image url('../images/design/icons/icons-pagatodo.png')
  background-position 0 -35px
  background-repeat no-repeat
  background-size cover
  display block
  height 30px
  width 30px
  &.red
    background-position 0 -70px
    
.icon-busqueda
  background transparent
  border 2px solid c_yellow
  color c_yellow
  core-options(border-radius, 50%)
  display block
  font-size 14px
  height 31px
  line-height 26px
  padding 0
  position relative
  text-align center
  width 31px
  &:before
    background-image url("../images/design/icons/icon-search@2x.png")
    background-position 0 0
    background-repeat no-repeat
    background-size contain
    content " "
    display block
    height 15px
    left 50%
    position absolute
    top 50%
    margin-left -7px
    margin-top -8px
    width 15px
    
.icon-phone
  display inline-block
  height 26px
  position relative
  width 26px
  &:before
    background-image url('../images/design/icons/icon-phone@2x.png')
    background-position 0 0
    background-repeat no-repeat
    background-size contain
    content " "
    display block
    height 40px
    width 40px
    
.icon-contact
  display inline-block
  height 26px
  position relative
  width 26px
  &:before
    background-image url('../images/design/icons/icon-contact@2x.png')
    background-position 0 0
    background-repeat no-repeat
    background-size contain
    content " "
    display block
    height 40px
    width 40px
    
.icon-total
  display inline-block
  height 60px
  position relative
  width 60px
  &:before
    background-image url('../images/design/icons/icon-total@2x.jpg')
    background-position 0 0
    background-repeat no-repeat
    background-size contain
    content " "
    display block
    height 60px
    margin 0
    width 60px
    
.icon-download
  display inline-block
  