c_blue = #4a87c6
c_blue2 = #0f2d7d
c_blue3 = #174baa
c_blued = #182654
c_brownyellow = #BFA700
c_dark = #000000
c_gray = #575757
c_gray2 = #797979
c_gray3 = #e3e3e3
c_gray4 = #989898
c_graylight = #e8e8e8
c_graylight2 = #f5f5f5
c_graylight3 = #eaeaea
c_graylight4 = #fbfbfb
c_green = #489328
c_pink = #F4A09E
c_red = #b10d0d
c_red2 = #a00707
c_red3 = #9a0a0a
c_red4 = #d20d08
c_red5 = #b21a1b
c_red6 = #FD2415
c_white = #ffffff
c_yellow = #f6cd1f
c_yellow2 = #ffdf00

//window size
window-blg  = 1200px
window-lg   = 1024px
window-md   = 768px
window-sm   = 480px
window-xs   = 320px