<div class="banner-simulador">
  <img src="images/design/misc/simulador-banner@2x.png" alt="">
  <!--#insert file="./-share-menu.code.html" -->
</div>
<form action="" class="form form-simulador pt40 pb20">
  <div class="form-field">
    <p class="custom-select">
      <select name="" id="">
        <option value="" selected="selected">Modalidad</option>
        <option value="">Option2</option>
        <option value="">Option3</option>
      </select>
    </p>
  </div>
  <div class="form-field">
    <p class="custom-select">
      <select name="" id="">
        <option value="" selected="selected">Monto</option>
        <option value="">Option2</option>
        <option value="">Option3</option>
      </select>
    </p>
  </div>
  <div class="form-field-form__submit">
    <input class="btn btn-secundary" type="submit" value="Calcular">
  </div>
</form>
<div class="simulador-resultados">
  <i class="icon-simulador icon-total"></i>
  <span class="resultado">$ 15.517.238 </span>
</div>