<div class="search-and-result">
  <div class="search-and-result__search">
    <form class="date-input">
      <i class="calendar-icon"></i>
      <input type="text" name="" placeholder="Seleccione una fecha">
    </form>
  </div>
  <div class="search-and-result__result">
    <span class="date">Lun - 22 - Febrero</span>
    <ul class="simple-results">
      <li>8</li>
      <li>7</li>
      <li>6</li>
      <li>5</li>
    </ul>
  </div>
</div>
<div class="simple-table simple-table--results pt30">
  <table>
    <tbody>
      <tr>
        <td>Lun  - 02 - Febrero  <strong>6916</strong></td>
        <td>Mier - 04 - Febrero  <strong>2312</strong></td>
        <td>Vier - 06 - Febrero  <strong>8944</strong></td>
      </tr>
      <tr>
        <td>Lun  - 08 - Febrero  <strong>6653</strong></td>
        <td>Mier - 10 - Febrero  <strong>3111</strong></td>
        <td>Vier - 12 - Febrero  <strong>5543</strong></td>
      </tr>
      <tr>
        <td>Lun  - 15 - Febrero  <strong>0909</strong></td>
        <td>Mier - 17 - Febrero  <strong>7621</strong></td>
        <td>Vier - 19 - Febrero  <strong>8765</strong></td>
      </tr>
      <tr>
        <td>Lun  - 22 - Febrero  <strong>0909</strong></td>
        <td>Mier - 24 - Febrero  <strong>7621</strong></td>
        <td>Vier - 26 - Febrero  <strong>8765</strong></td>
      </tr>
      <tr>
        <td>Lun  - 02 - Febrero  <strong>6916</strong></td>
        <td>Mier - 04 - Febrero  <strong>2312</strong></td>
        <td>Vier - 06 - Febrero  <strong>8944</strong></td>
      </tr>
    </tbody>
  </table>
</div>