<div class="banner-simulador">
  <img src="images/design/misc/simulador-banner@2x.png" alt="">
  <!--#insert file="./-share-menu.code.html" -->
</div>
<form action="" class="form form-simulador pt40 pb20">
  <div class="form-field">
    <p class="custom-select">
      <select name="" id="">
        <option value="" selected="selected">Valor Apuesta</option>
        <option value="">Option2</option>
        <option value="">Option3</option>
      </select>
    </p>
  </div>
</form>
<div class="simulador-resultados-2-col">
  <div class="column">
    <h4>Pago en 4 Cifras</h4>
    <div class="simulador-resultados mb15">
      <span class="simulador-resultados__texto">1 Acierto</span>
      <span class="resultado">$ 485.500 </span>
    </div>
    <div class="simulador-resultados mb15">
      <span class="simulador-resultados__texto">2 Acierto</span>
      <span class="resultado">$ 517.241 </span>
    </div>
  </div>
  <div class="column">
    <h4>Pago en 3 Cifras</h4>
    <div class="simulador-resultados">
      <i class="icon-simulador icon-total"></i>
      <span class="resultado">$ 48.700 </span>
    </div>
    <div class="simulador-resultados mb15">
      <i class="icon-simulador icon-total"></i>
      <span class="resultado">$ 30.930.000 </span>
    </div>
  </div>
</div>