<section class="slider home-slider">
  <div class="gallery-slider">
    <div class="slide">
      <div class="table">
        <div class="table-cell">
          <div class="container">
            <img src="images/slides/slides01.png" alt="" class="center-slide">
            <a href="" class="btn btn-primary right bottom">ver más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="table">
        <div class="table-cell">
          <div class="container">
            <img src="images/slides/slides03.png" alt="" class="center-slide">
            <a href="" class="btn btn-primary right bottom">ver más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="table">
        <div class="table-cell">
          <div class="container">
            <img src="images/slides/slides04.png" alt="" class="center-slide">
            <a href="" class="btn btn-primary right bottom">ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>