<div class="search-and-result">
  <div class="search-and-result__search">
    <form class="date-input">
      <i class="calendar-icon"></i>
      <input type="text" name="" placeholder="Seleccione una fecha">
    </form>
  </div>
  <div class="search-and-result__result">
    <span class="date">Lun - 22 - Febrero</span>
    <ul class="simple-results">
      <li>8</li>
      <li>7</li>
      <li>6</li>
      <li>5</li>
    </ul>
  </div>
</div>
<div class="simple-table">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Local</th>
        <th>Marcador</th>
        <th>Visitante</th>
        <th>Liga</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
      <tr>
        <td>02</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
      <tr>
        <td>03</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
      <tr>
        <td>04</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
      <tr>
        <td>05</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
      <tr>
        <td>06</td>
        <td>Universidad Cesar Vallejo (PER)</td>
        <td><strong>1 - 1</strong></td>
        <td>U- Magdalena (COL)</td>
        <td>Torneo Águila</td>
        <td>2016-05-29</td>
        <td>15:30</td>
      </tr>
    </tbody>
  </table>
</div>