<div class="banner-simulador">
  <img src="images/design/misc/simulador-banner@2x.png" alt="">
  <!--#insert file="./-share-menu.code.html" -->
</div>
<form action="" class="form form-simulador pt40 pb20">
  <div class="form-field">
    <p class="custom-select">
      <select name="" id="">
        <option value="" selected="selected">Valor Giro</option>
        <option value="">$5.000 - $10.000</option>
        <option value="">$10.000 - $30.000</option>
        <option value="">$30.000 - $50.000</option>
      </select>
    </p>
  </div>
</form>
<div class="simulador-resultados mb15">
  <span class="simulador-resultados__texto">Capital</span>
  <i class="icon-simulador icon-total"></i>
  <span class="resultado">$ 4.700 </span>
</div>
<div class="simulador-resultados mb15">
  <span class="simulador-resultados__texto">Municipio</span>
  <i class="icon-simulador icon-total"></i>
  <span class="resultado">$ 5.700 </span>
</div>