<section class="module-services">
  <div class="container">
    <h2 class="subtitle border txt_center"><span class="c_red">Encuentra aquí</span> todos nuestros servicios</h2>
    <ul class="list-inline">
      <li>
        <div class="table">
          <div class="cover-img"><img src="images/design/icons/icon-service01.png" alt=""></div>
          <div class="text yellow"><span>GIROS</span></div>
          <a class="link" href=""></a>
        </div>
      </li>
      <li>
        <div class="table">
          <div class="cover-img"><img src="images/design/icons/icon-service02.png" alt=""></div>
          <div class="text blue"><span>SEGUROS</span></div>
          <a class="link" href=""></a>
        </div>
      </li>
      <li>
        <div class="table">
          <div class="cover-img"><img src="images/design/icons/icon-service03.png" alt=""></div>
          <div class="text blue"><span>PINES Y </span><small>RECARGAS</small></div>
          <a class="link" href=""></a>
        </div>
      </li>
      <li>
        <div class="table">
          <div class="cover-img"><img src="images/design/icons/icon-service04.png" alt=""></div>
          <div class="text blue"><span>PAGOS Y </span><small>RECAUDOS</small></div>
          <a class="link" href=""></a>
        </div>
      </li>
      <li>
        <div class="table">
          <div class="cover-img"><img src="images/design/icons/icon-service05.png" alt=""></div>
          <div class="text yellow"><small>CORRESPONSAL</small><span> BANCARIO</span></div>
          <a class="link" href=""></a>
        </div>
      </li>
    </ul>
  </div>
</section>