<section class="module-places">
  <div class="top">
    <div class="container">
      <div class="title"><img src="images/place.png" alt="">¿dónde <br><span class="c_yellow">estamos?</span></div>
    </div>
  </div>
  <div class="bot banner-fixed">
    <div class="table">
      <div class="table-cell">
        <div class="container">
          <form action="index.html" class="search-place">
            <h5 class="form-title">Busca tu punto más cercano</h5>
            <fieldset class="form-section">
              <input type="text" class="form-ctrl">
              <button type="submit" class="icon icon-search"></button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>