<div class="slider news-slider">
  <div class="gallery-slider">
    <div class="slide">
      <div class="container">
        <div class="tag uppercase">Noticias</div>
        <div class="text">
          <h3 class="title">Nuevo sorteo del chance</h3>
          <a href=""><span class="btn btn-secundary btn-lg">LEER MÁS</span></a>
        </div>
        <div class="cover-img">
          <img src="images/slides/slide02.png" alt="" class="center-slide">
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="tag">Noticias</div>
        <div class="table">
          <div class="text">
            <h3 class="title">Nuevo sorteo del chance</h3>
            <a href=""><span class="btn btn-secundary btn-lg">LEER MÁS</span></a>
          </div>
          <div class="cover-img">
            <img src="images/slides/slide02.png" alt="" class="center-slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>