<div class="banner-simulador">
  <img src="images/design/misc/simulador-banner@2x.png" alt="">
  <!--#insert file="./-share-menu.code.html" -->
</div>
<form action="" class="form form-simulador pt20 pb20">
  <div class="form-field">
    <p class="custom-select">
      <select name="" id="">
        <option value="" selected="selected">Valor Apuesta</option>
        <option value="">Option2</option>
        <option value="">Option3</option>
      </select>
    </p>
  </div>
  <div class="simulador-resultados mb15">
    <span class="simulador-resultados__texto">2 Cifras + Signo</span>
    <i class="icon-simulador icon-total"></i>
    <span class="resultado">$ 51.724 </span>
  </div>
  <div class="simulador-resultados mb15">
    <span class="simulador-resultados__texto">3 Cifras + Signo</span>
    <i class="icon-simulador icon-total"></i>
    <span class="resultado">$ 517.241 </span>
  </div>
  <div class="simulador-resultados">
    <span class="simulador-resultados__texto">4 Cifras + Signo</span>
    <i class="icon-simulador icon-total"></i>
    <span class="resultado">$ 17.319.310 </span>
  </div>
</form>