<section class="tabla-de-resultados">
  <div class="tabla-de-resultados__titulo bg--green mb10">
    <h3>Deportivas</h3>
    <a href="#" class="arrow-open-or-close active"></a>
  </div>
  <div class="tabla-de-resultados__tabla">
    <div class="tabla-de-resultados__tabla__header">
      <h3 class="c_gray2">Resultado 08 - 10 - 2016</h3>
      <form class="date-input">
        <div class="calendar-icon"></div>
        <input type="text" name="" placeholder="Seleccione una fecha">
        <div class="custom-select">
          <select name="" id="">
            <option value="" selected>Ordenar por relevancia</option>
            <option value="">Opción 1</option>
            <option value="">Opción 2</option>
            <option value="">Opción 3</option>
            <option value="">Opción 4</option>
            <option value="">Opción 5</option>
            <option value="">Opción 6</option>
            <option value="">Opción 7</option>
          </select>
        </div>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th><span>#</span></th>
          <th><span>Equipo Local</span></th>
          <th><span>Equipo Visitante</span></th>
          <th><span>Resultados</span></th>
          <th><span>Fecha</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>01</span></td>
          <td><span>Nacional (COL)</span></td>
          <td><span>Cali (COL)</span></td>
          <td><span>L</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>02</span></td>
          <td><span>Santa Fe (COL)</span></td>
          <td><span>Huila (COL)</span></td>
          <td><span>L</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>03</span></td>
          <td><span>Aguilas (COL)</span></td>
          <td><span>Once Caldas (COL)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>04</span></td>
          <td><span>Bogota FC (COL)</span></td>
          <td><span>América (COL)</span></td>
          <td><span>L</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>05</span></td>
          <td><span>Quindio (COL)</span></td>
          <td><span>U-Popayan (COL)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>06</span></td>
          <td><span>Leones FC (COL)</span></td>
          <td><span>Pereira (COL)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>07</span></td>
          <td><span>Atlético FC (COL)</span></td>
          <td><span>Valledupar (COL)</span></td>
          <td><span>V</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>08</span></td>
          <td><span>Orsomarso SC (COL)</span></td>
          <td><span>Barranquilla (COL)</span></td>
          <td><span>L</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>09</span></td>
          <td><span>Osasuna (ESP)</span></td>
          <td><span>Tenerife (ESP)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>10</span></td>
          <td><span>Leganés (ESP)</span></td>
          <td><span>Elche (ESP)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>11</span></td>
          <td><span>Cordoba (ESP)</span></td>
          <td><span>Alavés (ESP)</span></td>
          <td><span>V</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>12</span></td>
          <td><span>Almeria (ESP)</span></td>
          <td><span>Mallorca (ESP)</span></td>
          <td><span>E</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>13</span></td>
          <td><span>Morelia (MEX)</span></td>
          <td><span>Jaguares Chiapas (MEX)</span></td>
          <td><span>L</span></td>
          <td><span>2016-03-27</span></td>
        </tr>
        <tr>
          <td><span>14</span></td>
          <td><span>DC United (USA)</span></td>
          <td><span>FC Dallas (USA)</span></td>
          <td><span>V</span></td>
          <td><span>2016-03-26</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>