<section class="tabla-de-resultados">
  <div class="tabla-de-resultados__titulo bg--blue2 mb10">
    <h3>Loterías</h3>
    <a href="#" class="arrow-open-or-close active"></a>
  </div>
  <div class="tabla-de-resultados__tabla tabla-con-logos">
    <div class="tabla-de-resultados__tabla__header">
      <h3 class="c_gray2">Resultado 08 - 10 - 2016</h3>
      <form class="date-input">
        <div class="calendar-icon"></div>
        <input type="text" name="" placeholder="Seleccione una fecha">
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th><span></span></th>
          <th><span>Loterias</span></th>
          <th><span>Fecha</span></th>
          <th><span>Número</span></th>
          <th><span>Serie</span></th>
          <th><span></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="images/content/loterias-logos/Cundinamarca-color.jpg" alt=""></td>
          <td><span>Lotería de Cundinamarca</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>4325</strong></span></td>
          <td><span class="txt_center"><strong>256</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Tolima-color.jpg" alt=""></td>
          <td><span>Lotería de Tolima</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>2345</strong></span></td>
          <td><span class="txt_center"><strong>634</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Cruz-color.jpg" alt=""></td>
          <td><span>Lotería de la Cruz Roja</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>6323</strong></span></td>
          <td><span class="txt_center"><strong>867</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Huila-color.jpg" alt=""></td>
          <td><span>Lotería de Huila</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>7653</strong></span></td>
          <td><span class="txt_center"><strong>876</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Meta-color.jpg" alt=""></td>
          <td><span>Lotería de Meta</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>2345</strong></span></td>
          <td><span class="txt_center"><strong>272</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Valle-color.jpg" alt=""></td>
          <td><span>Lotería de Valle</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>98763</strong></span></td>
          <td><span class="txt_center"><strong>876</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Manizales-color.jpg" alt=""></td>
          <td><span>Lotería de Manizales</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>4567</strong></span></td>
          <td><span class="txt_center"><strong>654</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Bogota-color.jpg" alt=""></td>
          <td><span>Lotería de Bogotá</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>5678</strong></span></td>
          <td><span class="txt_center"><strong>634</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Quindio-color.jpg" alt=""></td>
          <td><span>Lotería de Quindio</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><<strong class="txt_center">span></strong></span></td>
          <td><span class="txt_center"><strong>564</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Risaralda-color.jpg" alt=""></td>
          <td><span>Lotería de Risaralda</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>2745</strong></span></td>
          <td><span class="txt_center"><strong>876</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Medellin-color.jpg" alt=""></td>
          <td><span>Lotería de Medellín</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>9875</strong></span></td>
          <td><span class="txt_center"><strong>987</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Boyaca-color.jpg" alt=""></td>
          <td><span>Lotería de Boyaca</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>4568</strong></span></td>
          <td><span class="txt_center"><strong>654</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Santander-color.jpg" alt=""></td>
          <td><span>Lotería de Santander</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>3458</strong></span></td>
          <td><span class="txt_center"><strong>345</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Cauca-color.jpg" alt=""></td>
          <td><span>Lotería de Cauca</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>3458</strong></span></td>
          <td><span class="txt_center"><strong>546</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
        <tr>
          <td><img src="images/content/loterias-logos/Extra-color.jpg" alt=""></td>
          <td><span>Extra de Colombia</span></td>
          <td><span class="txt_center">2016-03-27</span></td>
          <td><span class="txt_center"><strong>7838</strong></span></td>
          <td><span class="txt_center"><strong>654</strong></span></td>
          <td><a href="" class="btn btn-premio-seco">Ver Premios Secos</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>