<section class="tabla-de-resultados">
  <div class="tabla-de-resultados__titulo bg--red mb10">
    <h3>Baloto - Revancha</h3>
    <a href="#" class="arrow-open-or-close active"></a>
  </div>
  <div class="tabla-de-resultados__tabla tabla-con-logos">
    <div class="tabla-de-resultados__tabla__header">
      <h3 class="c_gray2">Resultado 08 - 10 - 2016</h3>
      <form class="date-input">
        <div class="calendar-icon"></div>
        <input type="text" name="" placeholder="Seleccione una fecha">
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th><span></span></th>
          <th><span></span></th>
          <th><span>Fecha</span></th>
          <th><span>Resultados</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="images/content/resultados-logos/Baloto.jpg" alt=""></td>
          <td><span>Baloto</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>33-10-21-08-36-30</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Revancha.jpg" alt=""></td>
          <td><span>Baloto Revancha</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>04-05-17-10-20-40</strong></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>