<ul class="tabla-loterias">
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Dorado.jpg" alt="Lotería Extra de Colombia"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Cuyabrito.jpg" alt="Lotería de Cundinamarca"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/ElPaisita.jpg" alt="Lotería del Huila"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Chontico.jpg" alt="Lotería de la Cruz Roja Colombiana"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
</ul>

<ul class="tabla-loterias">
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Pijao.jpg" alt="Lotería de Medellin"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/CafeteritoT.jpg" alt="Lotería de Boyaca"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Cash.jpg" alt="Lotería del Cauca"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Play.jpg" alt="Lotería del Meta"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
</ul>

<ul class="tabla-loterias">
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Baloto.jpg" alt="Lotería de Bogotá"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Evening.jpg" alt="Lotería de Manizales"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Revancha.jpg" alt="Lotería del Quindio"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Santander.jpg" alt="Lotería del Risaralda"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
</ul>
<ul class="tabla-loterias">
  <li class="loteria">
    <div class="loteria_logo"><img src="images/content/logos/resultados/Win.jpg" alt="Lotería Santander"></div>
    <div class="loteria_info">
      <div class="loteria__fecha">
        <span>vier - 06 - Febrero</span>
      </div>
      <div class="loteria__num">
        <strong>3456</strong>
      </div>
    </div>
  </li>
</ul>