<section class="tabla-de-resultados">
  <div class="tabla-de-resultados__titulo bg--blue mb10">
    <h3>Sorteos</h3>
    <a href="#" class="arrow-open-or-close active"></a>
  </div>
  <div class="tabla-de-resultados__tabla tabla-con-logos">
    <div class="tabla-de-resultados__tabla__header">
      <h3 class="c_gray2">Resultado 08 - 10 - 2016</h3>
      <form class="date-input">
        <div class="calendar-icon"></div>
        <input type="text" name="" placeholder="Seleccione una fecha">
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th><span></span></th>
          <th><span></span></th>
          <th><span>Fecha</span></th>
          <th><span>Resultados</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="images/content/resultados-logos/Dorado.jpg" alt=""></td>
          <td><span>Dorado Mañana</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>4325</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Cuyabrito.jpg" alt=""></td>
          <td><span>Cuyabrito</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>2345</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/ElPaisita.jpg" alt=""></td>
          <td><span>Paisita Día</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>6323</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Chontico.jpg" alt=""></td>
          <td><span>Chontico Día</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>7653</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Pijao.jpg" alt=""></td>
          <td><span>El Pijao de Oro</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>2345</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Santander.jpg" alt=""></td>
          <td><span>Santander</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>98763</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Dorado.jpg" alt=""></td>
          <td><span>Dorado Tarde</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>4567</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/CafeteritoT.jpg" alt=""></td>
          <td><span>Cafeterito Tarde</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>5678</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/ElPaisita.jpg" alt=""></td>
          <td><span>Paisita Noche</span></td>
          <td><span>2016-03-27</span></td>
          <td><<strong>span></strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Santander.jpg" alt=""></td>
          <td><span>Santander</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>2745</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Chontico.jpg" alt=""></td>
          <td><span>Chontico Noche</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>9875</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Chontico.jpg" alt=""></td>
          <td><span>Chontico Noche Jueves</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>4568</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Cash.jpg" alt=""></td>
          <td><span>Cash 3</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>3458</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Play.jpg" alt=""></td>
          <td><span>Play 4</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>3458</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Win.jpg" alt=""></td>
          <td><span>Win 4</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>7838</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Evening.jpg" alt=""></td>
          <td><span>Evening</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>3568</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/CafeteritoT.jpg" alt=""></td>
          <td><span>Cafeterito Noche</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>6351</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/ElPaisita.jpg" alt=""></td>
          <td><span>Paisita 3</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>1367</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Dorado.jpg" alt=""></td>
          <td><span>Dorado Noche</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>7173</strong></span></td>
        </tr>
        <tr>
          <td><img src="images/content/resultados-logos/Santander.jpg" alt=""></td>
          <td><span>Sorteo Santander</span></td>
          <td><span>2016-03-27</span></td>
          <td><span><strong>7149</strong></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>