<ul class="tabla-loterias">
	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Bogota-color.jpg" alt="Lotería de Bogotá"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Boyaca-color.jpg" alt="Lotería de Boyaca"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Cauca-color.jpg" alt="Lotería del Cauca"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Cruz-color.jpg" alt="Lotería de la Cruz Roja Colombiana"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>
</ul>
<ul class="tabla-loterias">
	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Cundinamarca-color.jpg" alt="Lotería de Cundinamarca"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Extra-color.jpg" alt="Lotería Extra de Colombia"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Huila-color.jpg" alt="Lotería del Huila"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Manizales-color.jpg" alt="Lotería de Manizales"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>
</ul>

<ul class="tabla-loterias">
	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Medellin-color.jpg" alt="Lotería de Medellin"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Meta-color.jpg" alt="Lotería del Meta"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Quindio-color.jpg" alt="Lotería del Quindio"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Risaralda-color.jpg" alt="Lotería del Risaralda"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>
</ul>

<ul class="tabla-loterias">
	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Santander-color.jpg" alt="Lotería Santander"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Tolima-color.jpg" alt="Lotería del Tolima"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>

	<li class="loteria">
		<div class="loteria_logo"><img src="images/content/loterias-logos/Valle-color.jpg" alt="Lotería del Valle"></div>
		<div class="loteria_info">
			<div class="loteria__fecha">
				<span>vier - 06 - Febrero</span>
			</div>
			<div class="loteria__num">
				<strong>3456</strong>
			</div>
		</div>
	</li>
</ul>