.fixed-menu
  border none
  list-style-type none
  position fixed
  right 0
  top 50%
  transform translateY(-50%)
  z-index 100000
  
.fixed-menu__item
  a
    background-color yellow
    background-image url('../images/design/icons/buttons/icon-botom-up@2x.jpg')
    background-position 0 0
    background-repeat no-repeat
    background-size cover
    border none
    display block
    height 48px
    width 48px
    &:hover
      opacity 0.9
  
.fixed-menu__up
  a
    background-image url('../images/design/icons/buttons/icon-botom-up@2x.jpg')
    background-position 0px 0px
 
.fixed-menu__twitter
  a
    background-image url('../images/design/icons/buttons/icon-twitter@2x.jpg')
    background-position 0px 0px
 
.fixed-menu__facebook
  a
    background-image url('../images/design/icons/buttons/icon-facebook@2x.jpg')
    background-position 0px 0px
 

 #back-to-top
   opacity 0
   &.show
     opacity 1