.title-and-share
  clearfix()
  .title-line
    color c_gray2
    display inline-block
    font-family 'MontserratBold'
    font-size 18px
    margin-bottom 0.5em
    position relative
    text-transform uppercase
  .share-menu
    color c_gray
    display inline-block
    float right
    list-style-type none
    
.share-icon
  display inline-block
  font-family 'ArialNarrow'
  font-size 12px
  height 25px
  line-height 25px
  vertical-align top
  a
    background-size cover
    display block
    height 25px
    width 25px
    &:hover
      opacity 0.9
    
.share-icon-text
  border 1px solid c_graylight
  padding-left 7px
  padding-right 7px
  span
    line-height 1em

.share-icon-facebook
  a
    background-image url('../images/design/icons/icon-share-facebook.png')

.share-icon-twitter
  a
    background-image url('../images/design/icons/icon-share-twitter.png')

.share-icon-mail-green
  a
    background-image url('../images/design/icons/icon-share-mail-green.png')
  
.share-icon-mail-red
  a
    background-image url('../images/design/icons/icon-share-mail-red.png')