//Imports
  // @import 'vendors/normalize.styl'
  
*
  box-sizing border-box

//fonts
  //font-family 'Open Sans', sans-serif
    // 300 ligth
    // 400 regular
    // 600 semibold
    // 700 bold
      
  //font-family FontAwesome

// base media queries

  // @media (min-width: 320px)
  // @media (min-width: 768px)
  // @media (min-width: 1024px)
  // @media (min-width: 1600px)
    
//Variables

//Helpers

//global
  // html
  //   font-size 62.5%
  // body
  //   font-family 'Open Sans', sans-serif
  //   font-size 1rem
  //   font-weight 100
a
  text-decoration none
  &:hover
    text-decoration underline
ol,
ul
  padding 0
    
.wrapper
  min-height calc(100% - 140px)
  
footer
  height 140px