// Variables
@import "core/variables.styl"
@import "core/theme.styl"

// Reset
@import "vendors/normalize.styl"

// Base Code

@import "base.styl"

// Complements
@import "vendors/bootstrap.styl"

// Helpers
@import "core/helpers.styl"

// Core
@import "core/mixins.styl"
@import "core/fonts.styl"
@import "core/layout.styl"
@import "vendors/animate.styl"
@import "core/forms.styl"
@import "core/icons.styl"
  
// Others
@import "vendors/slick.styl"
@import "vendors/slick-theme.styl"
@import "vendors/jquery.mCustomScrollbar.styl"

// Moduls
@import "modules/modul.styl"
@import "modules/menu.styl"
@import "modules/header.styl"
@import "modules/footer.styl"
@import "modules/search-results.styl"
@import "modules/tabla-loterias.styl"
@import "modules/fixed-menu.styl"
@import "modules/results-banner.styl"
@import "modules/tablas-de-resultados.styl"
@import "modules/puntos-ventas.styl"
@import "modules/title-and-share.styl"
@import "modules/simulador.styl"